.container
{
  font-family: 'Special Elite', cursive;
  letter-spacing: 0.12em;
  background-color: aqua;
  margin: 0 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header
{
  margin: 15px opx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-grid
{
  margin:20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-score, .score, .new-game
{
  margin:20px;
  padding: 8px;
  background-color: darkgray;
  border-radius: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.best-score h4, .score h4
{
  margin: 0.6em;
}

.new-game
{
  padding: 6px 12px;
  margin:0px 6px 20px 6px;
  background-color: darkgray;
  border-radius: 12%;
}

.new-game:hover
{
  font-size: 1.04em;
  margin:0px 6px 18px 6px;
  background-color: rgb(163, 160, 160);
}

.main-grid
{
  width: 340px;
  height: 340px;
  margin: 20px;
  padding:4px;
  background-color: darkgray;
  border-radius: 12%;
  table-layout: fixed;
  border-spacing: .47em;
}

.number
{
  height:1.5em ;
  background-color: #F9F2F8;
  border-radius: 12%;
  font-size: 1.5em;
  text-align: center;
}

.empty
{
  background-color: #cfcccc;
}

.twoPowThree
{ 
  background-color: #E0BCDB;
}

.twoPowFour
{
  background-color: #d6a8d0;
}

.twoPowFive
{
  background-color: #CE97C7;
}

.twoPowSix
{
  background-color: #c685bd;
}

.twoPowSeven
{
  background-color: #b663aa;
  color: white;
}

.twoPowEight
{
  background-color: #A9569E;
  color: white;
}

.twoPowNine
{
  background-color: #9c4991;
  color: white;
}

.twoPowTen
{
  background-color: #7a3971;
  color: white;
}

.twoPowEleven
{
  background-color: #BA2C61;
  color: white;
}

.twoPowTwelve
{
  background-color: #DA2559;
  color: white;
}

.twoPowThirteen
{
  background-color: #fa1e51;
  color:white;
}

.twoPowFourteen
{
  background-color: #fb5078;
  color:white;
  font-size: 1.3em;
  height:1.5em ;
}

.twoPowFifteen
{
  background-color: #FC698C;
  color:white;
  font-size: 1.2em;
  height:1.5em ;
}

.twoPowSixteen
{
  background-color: #fc829f;
  color:white;
  font-size: 1.2em;
  height:1.5em ;
}

.twoPowSeventeen
{
  background-color: #FD9BB2;
  color:white;
  font-size: 1.18em;
  height:1.5em ;
}

